{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}

<div class="container">
    <h1> Welcome to home Page</h1>
    <main role="main" class="container">
        <div class="jumbotron">
          <h1>Navbar example</h1>
          <p class="lead">nous sommes entre d'apprendre a programmer et nous vous souhaitons la bienvienue et votre percesence nous comblera de bonheur. merci d'etre avec nousw</p>
          <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View our post &raquo;</a>
        </div>
      </main>
  
</div>
{% endblock %}