{% extends 'base.html' %} {% block head %}
<title>Post</title>
{% endblock %} {% block body %}

<div class="container">

<br>
     <div>
         <br>
    <h2 style="display: inline;"> Bienvenue sur le post </h2>
<a href="/post/new" class="btn btn-primary" style="display: inline; float: right;"> +new post </a>
    </div>
    <br>

    <hr> {% for post in posts %}
    <h3> Title: {{ post.title }}</h3>
    <p>content: {{ post.content }}</p>
    {% if post.Auteur %}
    <small> Posted by: {{ post.Auteur}} at {{ post.date_pub}}</small>
    {% else %}
    <p> Posted by: Author Unknown </p>
    {% endif %}
    <a href="/post/edit/{{post.id}}" class="btn btn-primary">edit</a>
    <a href="/post/delete/{{post.id}}" class="btn btn-danger">delete</a>
    <hr>{% endfor %}
</div>

 {% endblock %}
